<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kitchenlife">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".KitchenLifeApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MealPlanner">

        <!-- 시작 화면 -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 나머지 화면 -->
        <activity android:name=".LoginActivity" />
        <activity android:name=".MealPlanActivity" />
        <activity android:name=".ShoppingActivity" />
        <activity android:name=".ui.RecipesActivity" />
        <activity android:name=".StatsActivity" />
        <activity android:name=".ui.pantry.PantryActivity"/>
        <activity android:name=".ui.RecipeDetailActivity" />
        <activity android:name=".RecipePickerActivity" />
    </application>
</manifest>
